<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://172.16.111.43:${generalPort}/" />
<title>url3</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">url3</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/GetSefareshSherkatHaml?timeBegin=1441400000000&amp;timeEnd=166073836404&amp;companyId=98877766665&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*هل*اسب*</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/SaveWaybillInformation?companyId=98877766665&amp;waybillInfo={%22companyId%22:%2298877766665%22,%22companyName%22:%22%D8%B4%D8%B1%DA%A9%D8%AA%20%D8%AD%D9%85%D9%84%202%22,%22waybillNumber%22:%22123123%22,%22waybillSerial%22:%22123948939%22,%22transportAmount%22:%2227727272%22,%22issuanceTime%22:%22Aug%2016,%202015%203:12:41%20PM%22,%22weight%22:0.0,%22polomps%22:[],%22containerha%22:[{%22Type%22:%22%D8%B3%D8%A7%DB%8C%D8%B1%22,%22Name%22:%221122%22,%22Commodities%22:[{%22CommodityNumber%22:0.5,%22CommodityWeight%22:1.0,%22CommodityPureWeight%22:1.0,%22Price%22:1.0,%22CommodityPermitDescription%22:%22%22,%22Name%22:%22%D8%B4%D8%B1%D8%AD%20%D8%AA%D8%AC%D8%A7%D8%B1%DB%8C%20%DA%A9%D8%A7%D9%84%D8%A7%20%D9%86%D8%AF%D8%A7%D8%B1%D8%AF%20%20%D9%87%D9%84%20%D8%AE%D8%B1%D8%AF%20%D9%86%D8%B4%D8%AF%D9%87%20%D9%88%D9%86%D8%B3%D8%A7%D8%A8%D9%8A%D8%AF%D9%87%20%D8%AF%D8%B1%20%D8%A8%D8%B3%D8%AA%D9%87%E2%80%8C%D8%A8%D9%86%D8%AF%D9%8A%20%D8%A2%D9%85%D8%A7%D8%AF%D9%87%20%D8%A8%D8%B1%D8%A7%D9%8A%20%D8%AE%D8%B1%D8%AF%D9%87%20%D9%81%D8%B1%D9%88%D8%B4%D9%8A%22,%22HSCode%22:%2209083110%22,%22CommodityUnit%22:%22%D8%B1%D9%88%D9%84%22,%22WareHouseBill%22:null,%22WareHouseBillElec%22:null}]}],%22gomrokiInfo%22:[{%22serialCutaj%22:%2250100-4230919%22,%22cutajDate%22:%22Sun%20Aug%2016%2014:27:56%20IRDT%202015%22}],%22destinations%22:[{%22recieverShenase%22:%220123456789%22,%22recieverName%22:%22%D8%AA%D9%87%D8%B9%D8%B1%D8%A7%22,%22address%22:%22%D9%82%D8%B2%D9%88%D9%8A%D9%86%20-%20%D8%A7%D9%83%20-%20%D8%AA%D9%87%D8%B1%D8%A7%D9%86%DB%8C%22,%22postalCode%22:%2244444%22}],%22driver%22:{%22driverCardNo%22:1,%22driverFirstName%22:%22%D8%A7%D8%B5%D8%BA%D8%B1%22,%22driverLastName%22:%22%DB%8C%D8%A7%D9%86%D9%85%D8%B9%D8%AA%D9%85%D8%AF%22,%22driverNationCode%22:%220123456789%22,%22driverDrivingLicenceCode%22:%2219191919191919%22,%22driverMobile%22:%2209121111111%22},%22insurance%22:{%22loadInsuranceAmount%22:0,%22loadInsurancePrise%22:1,%22contractNo%22:%22123123%22,%22insuranceCompany%22:%22%D8%A8%DB%8C%D9%85%D9%87%20%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%22,%22insuranceCompanyCode%22:%220111%22,%22insuranceAgancy%22:%22%D8%A2%DA%98%D8%A7%D9%86%D8%B3%20%D8%A8%DB%8C%D9%85%D9%87%22,%22insuranceBranch%22:%22%D8%B4%D8%B9%D8%A8%D9%87%20%D8%B8%D9%81%D8%B1%22},%22vehicle%22:{%22cardNo%22:1,%22isIranian%22:true,%22plaqueNo2Digit%22:%2223%22,%22plaqueNo3Digit%22:%22382%22,%22plaqueChar%22:%22%D8%B9%22,%22plaqueSerial%22:%2287%22,%22plaqueCountry%22:%22%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%22,%22vehicleLander%22:%22%DA%A9%D9%81%DB%8C%20%D8%AA%D8%B1%DB%8C%D9%84%DB%8C%22},%22owners%22:[{%22nameOfPerson%22:%22%D8%AA%D8%B3%D8%AA%22,%22personCode%22:%220014472619%22,%22address%22:%22%D8%AA%D8%B3%D8%AA%22}],%22representative%22:[{%22nameOfPerson%22:%22%D8%AA%D8%B3%D8%AA%22,%22personCode%22:%220014472619%22,%22address%22:%22%D8%AA%D8%B3%D8%AA%22}],%22sefareshOwner%22:{%22nameOfPerson%22:%22%D8%AA%D8%B3%D8%AA%22,%22personCode%22:%220014472619%22,%22address%22:%22meli%22},%22safarId%22:%22%22,%22sefareshCode%22:%2223257430404%22}&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*موفقیت*</td>
</tr>
</tbody></table>
</body>
</html>
