<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://172.16.111.43:${generalPort}/" />
<title>url</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">url</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/GetTransportationCompanyOrder?beginTimestamp=1336073836404&amp;endTimestamp=1536073836404&amp;companyNationalId=01122233334&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*ارسال داده با موفقیت انجام شد*</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=pre</td>
	<td>*ارسال داده با موفقیت انجام شد*</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/GetTransportationCompanyOrder?beginTimestamp=1336073836404&amp;endTimestamp=1536073836404&amp;companyNationalId=98877766665&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*ارسال داده با موفقیت انجام شد*</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=pre</td>
	<td>*ارسال داده با موفقیت انجام شد*</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/SubmitBillOfLadingDraft?companyNationalId=01122233334&amp;waybillDraft={%22draftId%22:%2253438465385%22,%22issuanceDate%22:%22Sep%2010,%202015%202:26:01%20PM%22,%22iranUniqueConsignmentReference%22:%22S823764%22,%22driver%22:{%22driverCardNumber%22:%221231234%22,%22firstName%22:%22%D8%AC%D8%B9%D9%81%D8%B1%22,%22lastName%22:%22%D8%B9%D8%A8%D8%A7%D8%B3%DB%8C%22,%22nationalID%22:%220123456789%22,%22driverLicenseNumber%22:%22999988888%22,%22cellPhoneNumber%22:%22091212121212%22},%22freight%22:1234245.565,%22vehicleInformation%22:{%22vehicleCardNumber%22:%221233598556%22,%22isIranian%22:true,%22plaqueLeftTwoDigits%22:%2223%22,%22palqueMiddleThreeDigits%22:%22382%22,%22plaqueMiddleCharacter%22:%22%D8%B9%22,%22plaqueSerial%22:%2287%22,%22foreignPlaque%22:%22%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%22,%22vehicleTrailer%22:%22%DA%A9%D9%81%DB%8C%20%D8%AA%D8%B1%DB%8C%D9%84%DB%8C%22},%22insuranceInformation%22:{%22totalOrderValue%22:1212.2,%22insurancePrice%22:1212.2345,%22insuranceContractNumber%22:%2212456779346%22,%22insuranceCompanyName%22:%22%D8%A8%DB%8C%D9%85%D9%87%20%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%22,%22insuranceCompanyNationalID%22:%2265248949088968%22,%22insuranceCompanyAgent%22:%22%D8%B4%D8%B9%D8%A8%D9%87%20%D9%82%D8%B2%D9%88%DB%8C%D9%86%22,%22insuranceBranch%22:%22%D8%B4%D8%A7%D8%AE%D9%87%22},%22orderCode%22:[&quot;${sefaresh}&quot;]}&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*اطلاعات با موفقیت برای شرکت حمل ذخیره شد*</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=pre</td>
	<td>*اطلاعات با موفقیت برای شرکت حمل ذخیره شد*</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/SubmitBillOfLadingDraft?companyNationalId=98877766665&amp;waybillDraft={%22draftId%22:%2253438465385%22,%22issuanceDate%22:%22Sep%2010,%202015%202:26:01%20PM%22,%22iranUniqueConsignmentReference%22:%22S823764%22,%22driver%22:{%22driverCardNumber%22:%221231234%22,%22firstName%22:%22%D8%AC%D8%B9%D9%81%D8%B1%22,%22lastName%22:%22%D8%B9%D8%A8%D8%A7%D8%B3%DB%8C%22,%22nationalID%22:%220123456789%22,%22driverLicenseNumber%22:%22999988888%22,%22cellPhoneNumber%22:%22091212121212%22},%22freight%22:1234245.565,%22vehicleInformation%22:{%22vehicleCardNumber%22:%221233598556%22,%22isIranian%22:true,%22plaqueLeftTwoDigits%22:%2235%22,%22palqueMiddleThreeDigits%22:%22283%22,%22plaqueMiddleCharacter%22:%22%D8%B9%22,%22plaqueSerial%22:%2278%22,%22foreignPlaque%22:%22%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%22,%22vehicleTrailer%22:%22%DA%A9%D9%81%DB%8C%20%D8%AA%D8%B1%DB%8C%D9%84%DB%8C%22},%22insuranceInformation%22:{%22totalOrderValue%22:1212.2,%22insurancePrice%22:1212.2345,%22insuranceContractNumber%22:%2212456779346%22,%22insuranceCompanyName%22:%22%D8%A8%DB%8C%D9%85%D9%87%20%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%22,%22insuranceCompanyNationalID%22:%2265248949088968%22,%22insuranceCompanyAgent%22:%22%D8%B4%D8%B9%D8%A8%D9%87%20%D9%82%D8%B2%D9%88%DB%8C%D9%86%22,%22insuranceBranch%22:%22%D8%B4%D8%A7%D8%AE%D9%87%22},%22orderCode%22:[&quot;${sefaresh2}&quot;]}&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*اطلاعات با موفقیت برای شرکت حمل ذخیره شد*</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=pre</td>
	<td>*اطلاعات با موفقیت برای شرکت حمل ذخیره شد*</td>
</tr>
</tbody></table>
</body>
</html>
