<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://172.16.111.43:${generalPort}/" />
<title>url2</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">url2</td></tr>
</thead><tbody>
<tr>
	<td>storeEval</td>
	<td>storedVars[&quot;safar&quot;].replace(&quot;#&quot;,&quot;%23&quot;)</td>
	<td>safar11</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>storedVars[&quot;safar2&quot;].replace(&quot;#&quot;,&quot;%23&quot;)</td>
	<td>safar22</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/ObtainCustomsPermit?companyNationalId=01122233334&amp;orderCode=${sefaresh}&amp;iranUniqueConsignmentReference=${safar11}&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*شرح تجاری کالا ندارد *</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/ObtainCustomsPermit?companyNationalId=98877766665&amp;orderCode=${sefaresh2}&amp;iranUniqueConsignmentReference=${safar22}&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*شرح تجاری کالا ندارد *</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/SaveWaybill?companyNationalId=01122233334&amp;waybill={%22draftId%22:%2253438465385%22,%22waybillNumber%22:%228939838983884-85389%22,%22waybillSerial%22:%2298999999%22,%22waybillItem%22:[{%22orderCode%22:%22${sefaresh}%22,%22container%22:[{%22containerNumber%22:%221122%22,%22containerType%22:%22%D8%B3%D8%A7%DB%8C%D8%B1%22,%22commodityInformation%22:[{%22weightOrNumber%22:%22%22sf%22%22,%22commodityHSCode%22:%2221050000%22,%22commodityTariffDescription%22:%2298877766665%22,%22commodityDescription%22:%2298877766665%22,%22commodityItemQuantity%22:0,%22netWeight%22:2.2,%22grossWeight%22:3.3,%22iRRValue%22:1.7976931348623157E308,%22packageType%22:%2298877766665%22,%22insuranceValue%22:1.7976931348623157E308,%22freightValue%22:1.7976931348623157E308}]}]}],%22issuanceDate%22:%22Sep%2010,%202015%204:50:01%20PM%22,%22iranUniqueConsignmentReference%22:%22${safar11}%22,%22driver%22:{%22driverCardNumber%22:%22203949234%22,%22firstName%22:%22%D8%AA%D9%85%DB%8C%D8%A7%22,%22lastName%22:%22%D9%85%D8%AA%22,%22nationalID%22:%220973629374%22,%22driverLicenseNumber%22:%2228374%22,%22cellPhoneNumber%22:%2228764%22},%22freight%22:1.7976931348623157E308,%22vehicleInformation%22:{%22vehicleCardNumber%22:%221348companyId%22,%22isIranian%22:true,%22plaqueLeftTwoDigits%22:%2233%22,%22palqueMiddleThreeDigits%22:%22444%22,%22plaqueMiddleCharacter%22:%22%D9%82%22,%22plaqueSerial%22:%2213%22,%22foreignPlaque%22:%22%22,%22vehicleTrailer%22:%22%DA%A9%D9%81%DB%8C%20%D8%A8%D8%B1%D8%B2%D9%86%D8%AF%D8%AA%DB%8C%22},%22insuranceInformation%22:{%22totalOrderValue%22:2.2250738585072014E-308,%22insurancePrice%22:1.7976931348623157E308,%22insuranceContractNumber%22:%2298877766665%22,%22insuranceCompanyName%22:%2298877766665%22,%22insuranceCompanyNationalID%22:%2298877766665%22,%22insuranceCompanyAgent%22:%2298877766665%22,%22insuranceBranch%22:%2298877766665%22}}&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*موفقیت*</td>
</tr>
<tr>
	<td>open</td>
	<td>http://test.iais.co:${generalPort}/PackingList-Rajae/SaveWaybill?companyNationalId=98877766665&amp;waybill={%22draftId%22:%2253438465385%22,%22waybillNumber%22:%228939838983884-85389%22,%22waybillSerial%22:%2298999999%22,%22waybillItem%22:[{%22orderCode%22:%22${sefaresh2}%22,%22container%22:[{%22containerNumber%22:%221122%22,%22containerType%22:%22%D8%B3%D8%A7%DB%8C%D8%B1%22,%22commodityInformation%22:[{%22weightOrNumber%22:%22%22sf%22%22,%22commodityHSCode%22:%2201012100%22,%22commodityTariffDescription%22:%2298877766665%22,%22commodityDescription%22:%2298877766665%22,%22commodityItemQuantity%22:0,%22netWeight%22:2.2,%22grossWeight%22:3.3,%22iRRValue%22:1.7976931348623157E308,%22packageType%22:%2298877766665%22,%22insuranceValue%22:1.7976931348623157E308,%22freightValue%22:1.7976931348623157E308}]}]}],%22issuanceDate%22:%22Sep%2010,%202015%204:50:01%20PM%22,%22iranUniqueConsignmentReference%22:%22${safar22}%22,%22driver%22:{%22driverCardNumber%22:%22203949234%22,%22firstName%22:%22%D8%AA%D9%85%DB%8C%D8%A7%22,%22lastName%22:%22%D9%85%D8%AA%22,%22nationalID%22:%220973629374%22,%22driverLicenseNumber%22:%2228374%22,%22cellPhoneNumber%22:%2228764%22},%22freight%22:1.7976931348623157E308,%22vehicleInformation%22:{%22vehicleCardNumber%22:%221348companyId%22,%22isIranian%22:true,%22plaqueLeftTwoDigits%22:%2233%22,%22palqueMiddleThreeDigits%22:%22444%22,%22plaqueMiddleCharacter%22:%22%D9%82%22,%22plaqueSerial%22:%2213%22,%22foreignPlaque%22:%22%22,%22vehicleTrailer%22:%22%DA%A9%D9%81%DB%8C%20%D8%A8%D8%B1%D8%B2%D9%86%D8%AF%D8%AA%DB%8C%22},%22insuranceInformation%22:{%22totalOrderValue%22:2.2250738585072014E-308,%22insurancePrice%22:1.7976931348623157E308,%22insuranceContractNumber%22:%2298877766665%22,%22insuranceCompanyName%22:%2298877766665%22,%22insuranceCompanyNationalID%22:%2298877766665%22,%22insuranceCompanyAgent%22:%2298877766665%22,%22insuranceBranch%22:%2298877766665%22}}&amp;USE_CODING=false</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=pre</td>
	<td>*موفقیت*</td>
</tr>
</tbody></table>
</body>
</html>
